<div class="container">
  <ng-container *ngFor="let d of data">
    <div *ngIf="d.show" class="main-container">
      <div class="main">
        <span class="main-txt"> "{{ d.testimony }}"</span>
        <div class="credential">
          <span class="name">{{ d.name }}</span>
          <span class="designation">{{ d.designation }}</span>
        </div>
      </div>
      <div class="img-container">
        <img src="{{ d.image }}" alt="image" class="profile" />
        <div class="button-container">
          <img
            src="../assets/icon-prev.svg"
            alt="prev"
            class="prev"
            (click)="clickPrev()"
          />
          <img
            src="../assets/icon-next.svg"
            alt="next"
            class="next"
            (click)="clickNext()"
          />
        </div>
      </div>
    </div>
  </ng-container>
</div>
